.carousel-slider{
    display: flex;
    width: 800px;
    margin: auto;
    position: relative;
    height: 500px;
    overflow: hidden;
    touch-action: none;
}

.carousel-slider img{
    position: absolute;
    transition: all 0.3s ease-in-out; 
}

.slider-buttons{
    margin: auto;
    width: 800px;
    top: 10px;
    height: 60px;
    position: relative;   
}

.prev-button, .play-button, .next-button {
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    background: none;
}

.prev-button{
    background: url('../src/icons/left-arrow.svg') no-repeat;
}

.play-button{
    background: url('../src/icons/pause.svg') no-repeat;
}

.next-button{
    background: url('../src/icons/right-arrow.svg') no-repeat;
}

