
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    width: 800px;
    margin: auto;
    height: 500px;
    position: relative;
}

#sliders{
    display: flex;
    width: 800px;
    position: relative;
    height: 500px;
}

#sliders img{
    position: relative; 
}


