div{
    display: flex;
    width: 800px;
    margin: auto;
    position: relative;
    height: 500px;
    overflow: hidden;
}

button{
    
    position: relative;   
}
img{
    position: absolute;
    transition: all 0.3s ease-in-out; 
}


